<div class="title">Welcome</div>

<div class="form">
  <div class="subtitle">Add Country</div>

  <form [formGroup]="countryForm" (ngSubmit)="saveCountry()">
    <!-- <div class="input-container ic1">
      <label for="country_id">Country ID:</label>
      <input type="number" id="country_id" formControlName="country_id" />
    </div> -->


    <div class="input-container ic2">
      <label for="country_Name">Country Name:</label>
      <input type="text" id="country_Name" formControlName="country_Name" />
    </div>


    <div class="input-container ic2">
      <label for="iso_code">ISO Code:</label>
      <input type="number" id="iso_code" formControlName="iso_code" />
    </div>

    <button style="margin-top: 50px;" type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span> Save
    </button>
  </form>
</div>

<!-- <h3> Form status: {{countryForm.valid}}</h3> -->
<!-- <h3> Form value: {{countryForm.value | json}}</h3> -->