/* You can add global styles to this file, and also import other style files */
.tb{
    top: 50%;
    left: 0.2%;
    transform: translate(0%, 50%);
    display: flex;
    justify-content: center;
  }
  table {
    border: solid 2px #000000;
    overflow: hidden; /* Important for rounding the corners */
    border-collapse: separate; /* Allows border radius to be applied */
    border-spacing: 0; /* Removes space between cells */
    width: 100%;
    /* margin-top: 120px; */
    border-radius: 20px; /* Applies border-radius to the whole table */
  }
  
  thead {
    border-radius: 20px 20px 0 0; /* Top corners rounded */
  }
  
  thead th {
    background-color: #D8D2C2;
    color: #212121;
  }
  
  tbody tr:last-child td {
    border-bottom-left-radius: 20px; /* Bottom left corner */
    border-bottom-right-radius: 20px; /* Bottom right corner */
  }


  th,
  td {
    text-align: center; /* Center horizontally */
    vertical-align: middle; /* Center vertically */
    padding: 20px;
  }


  tr{
    color: #ffffff;
  }

  /* tr:nth-child(even) {
    background-color: #f6f5f59f;
  } */